*.pyc
django
Django-1.9.dist-info
easy_install.py
easy_install.pyc
pip
pip-9.0.1.dist-info
pkg_resources
pytz
pytz-2017.3.dist-info
setuptools
setuptools-36.6.0.dist-info
wheel
wheel-0.30.0.dist-info
